@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, button, input, select, textarea{
    font-family: 'Roboto', sans-serif;
    color: white;

}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background: var(--dark-color);
}



:root{
    --marine-blue: #5280E2;
    --aqua-blue: #15CDCB;
    --dark-color: #212226;
    --light-gray: #E0DEDE;
    --menu--height: 65px;
}

h1{
    font-size: 44px;
}

h2{
    font-size: 24px;
}

h1, h2{
    margin: 0;
    font-weight: 400;
}

p{
    color: var(--light-gray);
}

button{
    background: var(--marine-blue);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;

}

.title-aqua{
    color: var(--aqua-blue);
}

.title-marine{
    color: var(--marine-blue);
}

header{
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container{
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img{
    display: none;
}

header .container h1{
    color: var(--aqua-blue);
}

header .container button{
    margin-top: 40px;
}

nav{
    display: flex;
    height: var(--menu--height);
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: sticky;
    top: 0;
    background: var(--dark-color);
    z-index: 99;
}

nav img {
    height: 45px;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

nav ul a {
    font-size: 16px;
    color: var(--aqua-blue);
    text-decoration: none;
}

nav ul a svg{
    display: none;
}

.about-me{
    display: flex;
    padding: 100px;
}

.about-me .container{
    width: 50%;
    padding-right: 50px;
}

.about-me .img-container{
    text-align: center;
    width: 50%;
    position: relative;
}

.about-me .img-container img{
    width: 70%;
    height: 100%;
}

.about-me .img-container .line{
    width: calc(70% + 50px);
    height: calc(100% + 50px);
    border: 1px solid var(--aqua-blue);

    position: absolute;
    top: -25px;
    left: calc(50% - 70%/2 - 25px);

}

.about-me .img-container .line.green{
    transform: rotate(-3.3deg);
    color: var(--marine-blue);
}

/* responsividade */
/* tablet */

@media (max-width: 1000px){

.about-me{
    flex-direction: column;
}
.about-me .container, .about-me .img-container{
    width: 100%;
}

.about-me .container{
    padding-right: 0;

}

.about-me .img-container{
    margin: 70px 0;
}




}

@media (max-width: 767px) {

    header .container{
        width: 100%;
        padding: 0 30px;
        
    }

    header .container img{
        display: inline;
        margin-bottom: 70px;
        object-fit: cover;
    }

    nav {
        padding: 0 30px;
    }

    nav img {
        display: none;
    }

    nav ul {
        padding: 0;
    }

    nav ul a{
        font-size: 15px;
    }

}



@media (max-width: 480px){
    header .container{
        padding: 0 40px;
    }

    nav{
        position: fixed;
        bottom: 0;
        width: 100%;
        top: unset;
    }

   .about-me .container p{
   font-size: 15px;

}

.about-me{
    padding: 40px;
}


}

@media (max-width: 390px){
    nav ul a svg{
        display: block;
    }

    nav ul a {
        font-size: 0;
    }

    header .container img{
        display: inline;
        margin-bottom: 20px;
}
}

@media (max-width:290px){
    nav ul a{
        font-size: 0px;
    }
}

